


body {
  display: block;
  text-align: center;
  font-family: Piazzolla, Helvetica, sans-serif;
}

strong {
  font-weight: bold;
}

/* MOBILE STYLES */

#main {
  display: flex;
  flex-wrap: wrap;
  background-color: #e2e2e2;
}

#title {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 50px;
}

#sub-title {
  width: 100%;
  margin-top: -40px;
  z-index: 2;
  
  font-size: 20px;
  font-style: italic;
  font-weight: lighter;
}

#img-div {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 10px;
  margin: 10px;
  background-color: #ffffff;
}

#image {
  display: block;
  width: 100%;
}

#img-caption {
  padding: 15px;
  font-style: normal;
}

#article {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.article-title {
  display: flex;
  margin: 50px 10px;
}

.article-title > h2 {
  font-size: 20px;
  font-weight: bold;
}

.article-timeline {
  display: flex;
  text-align: start;
  padding-left: 40px;
  padding-right: 40px;
}

#timeline {
  list-style-type: disc;

}

#timeline > li {
  padding-bottom: 15px;
  font-size: 16px;
}

.article-quote {
  display: flex;
  margin: 40px 10px;
  font-size: 20px;
}

#footer {
  display: flex;
  margin: 20px 30px;
  font-size: 20px;
}

/* TABLET STYLES */


/* DESKTOP STYLES */